<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <style>
        .content {
            height: 300px;
            overflow: auto;
        }

        .progress {
            height: 15px;
            background-color: lightseagreen;
            margin-bottom: 10px;
        }
    </style>
    <script src="js/vue.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="sample">
        <form v-if="!isSendData" @submit.prevent="sendData">
            <div class="content alert alert-info" @scroll="scrollText" ref="content">
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
                <p>This text no one reads. This text no one reads. This text no one reads.</p>
            </div>

            <div class="progress" :style="{width: scrollProgress + '%'}"></div>

            <div v-if="scrollDown">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="isAgree">
                        Agree all
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" v-model="isGetSpam">
                        Get spam
                    </label>
                </div>
                <div class="form-check" v-if="isGetSpam">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" value="Email" v-model="typeSpam">
                        Email
                    </label> <br>
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" value="Phone" v-model="typeSpam">
                        Phone
                    </label>
                </div>
                <hr>
                <button class="btn btn-primary" :disabled="!isAgree">
                    Send Data
                </button>
            </div>
        </form>

        <div v-else>
            <table class="table table-bordered">
                <tr>
                    <td>Agree all</td>
                    <!--                    <td :class="colorAgree">{{statusAgree}}</td>-->
                    <td>
                        <app-span-status :value="isAgree" />
                    </td>
                </tr>
                <tr>
                    <td>Get Spam</td>
                    <!--                    <td :class="colorSpam">{{statusSpam}}</td>-->
                    <td>
                        <app-span-status :value="isGetSpam" />
                    </td>
                </tr>
                <tr v-if="isGetSpam">
                    <td>Type of Spam</td>
                    <td>{{typeSpam}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>

    const AppSpanStatus = {
        props: ['value'],
        computed: {
            textStatus() {
                return this.value ? 'Yes' : 'No';
            },
            classColor() {
                return this.value ? 'text-success' : 'text-danger';
            },
        },
        template: '<span :class="classColor">{{textStatus}}</span>',
    };


    Vue.createApp({
        components: { AppSpanStatus },
        data: () => ({
            scrollDown: false,
            isAgree: false,
            isGetSpam: false,
            typeSpam: 'Phone',
            isSendData: false,
            scrollProgress: 0,
        }),

        computed: {
            statusAgree() {
                return this.isAgree ? 'Yes' : 'No';
            },
            colorAgree() {
                return this.isAgree ? 'text-success' : 'text-danger';
            },
            statusSpam() {
                return this.isGetSpam ? 'Yes' : 'No';
            },
            colorSpam() {
                return this.isGetSpam ? 'text-success' : 'text-danger';
            },
        },

        // watch: {
        //     scrollPercent(newPer, oldPer) {
        //         if (newPer < oldPer) {
        //             this.scrollPercent = oldPer;
        //         }
        //     },
        // },

        methods: {
            scrollText(e) {
                console.log(e.target);

                const content = this.$refs;
                const contentScrollHeight = content.content.scrollHeight;
                const contentScroll = content.content.scrollTop;
                const contentHeight = content.content.offsetHeight;

                if (contentHeight + contentScroll >= contentScrollHeight) {
                    this.scrollDown = true;
                }

                const scroll = Math.floor(contentScroll / (contentScrollHeight - contentHeight) * 100);

                if (scroll > this.scrollProgress) {
                    this.scrollProgress = scroll;
                }
            },
            sendData() {
                this.isSendData = true;
            },
        },

    }).mount('.sample');

</script>
</body>
</html>